<div class="pl-3 py-3" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>local_mall</mat-icon>
        <h1 class="m-0 pl-2">Grocery List</h1>
    </div>
    <button [fxHide]="hideAddListButton" class="ml-3" (click)="true" mat-button>
        <mat-icon>add</mat-icon>
        Add List
    </button>
    <button [fxHide]="hideCloseButton" class="ml-3" (click)="navigateHome()" mat-button>
        <mat-icon>close</mat-icon>
        Close
    </button>
</div>