<div [formGroup]="groceryItemForm" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-checkbox fxFlex formControlName="purchased"> 
        <ng-container *ngIf="!editMode">
            <span [ngClass]="{'strike': groceryItemForm.controls['purchased'].value}">
                {{groceryItemForm.controls['name'].value}}
            </span>
        </ng-container>
        <input [fxHide]="!editMode" class="w-100" formControlName="name" type="text" maxlength="255" placeholder="Edit item"/>
    </mat-checkbox>
    <div>
        <button *ngIf="!editMode" mat-icon-button (click)="editMode = !editMode" matTooltip="Edit item">
            <mat-icon>edit</mat-icon>
        </button>     
        <button *ngIf="editMode" [disabled]="isLoading" mat-icon-button (click)="updateGroceryItem()" matTooltip="Save item">
            <mat-icon *ngIf="!isLoading">check</mat-icon>
            <mat-icon *ngIf="isLoading">
                <mat-spinner color="warn" diameter="20"></mat-spinner>
            </mat-icon>
            
        </button>
        <button mat-icon-button aria-label="Delete item" (click)="deleteGroceryItem()" matTooltip="Delete item">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>
