<div class="p-2">
    <ng-container *ngFor="let list of data">
        <div class="list-card" [style]="{'background-color': list?.color, 'color': 'white'}" (click)="openList(list)">
            <div>
                <h1 fxFlex class="card-title">{{list.title}}</h1>
                <span>{{list.items?.length || 0}} items</span>
            </div>
            <span>Last updated: {{list.last_updated | date:'medium'}}</span>
        </div>
    </ng-container>
    <div *ngIf="(!data || data?.length == 0) && !dataService.isGrocerListsLoading" class="no-records">
        <span>No list to display.</span>
    </div>
    <div *ngIf="dataService.isGrocerListsLoading" class="no-records">
        <span>Connecting to the server...</span>
        <br />
        <span>Note: It takes about 2 minutes for the backend Heroku server to wake up from sleep.</span>
    </div>
</div>
